<div class="row">
  <div class="text-center">
    <h1> what? </h1>
    <hr>
    <p>asl;dkfjas;lkdfj;alskdjf;laksjdf;lkajsd;flkajs;dlkfja;slkdjf;alksdjf
      as;dflkjas;dlfkja;slkdjfa;lksdjf;lkasjdf;lkajsd;lkfjas;ldkfja;lskdf
      ad;flkajsd;fljas;dlfja;slkdjf;alskdjf;lakjsdf;lakjsdf;lkajsd;lkf
      as;dlkfjas;lkdjf;alskdjf;laksjdf;laksjdf;lkajsd;flkjas;ldkfja;slkdfj</p>
  </div>
</div>
